.item{
    width: 100%;
    min-height: 150px;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.description{
    font-size: 16px;
}

h2{
    font-size: 20px;
    padding: 2px;
    margin: 5px;
}